.bi-list{
   cursor: pointer;
}
.yt {
   padding-top: 20px;
   padding-bottom: 20px;
   /* box-shadow: 2px 2px 3px black; */
   font-size: 5%;
}
.bi-youtube {
   color: red;
   cursor: pointer;
}
.bi-search {
   color: black;
}

.youtube {
   color: black;
}
.search_btn,
.search_input {
   background-color: white;
   font-size: 0.8em;
   border: none;
}
.search_btn {
   background-color: rgb(207, 205, 205);
}
.search_mic {
   border: none;
   background-color: white;
}

.search_div {
   border: solid black;
   background-color: rgb(207, 205, 205);
}
.extra_ions {
   cursor: pointer;
}
.bi-person-circle{
   color: blue;
}

/* VideoListDefaultItem */

.videoComponent:hover {
   background-color: rgb(211, 207, 207);
   box-shadow: 2px 2px 2px 2px black;
}
